[submodule "toml-parser"]
	path = toml-parser
	url = https://github.com/georgestagg/toml-parser.git
[submodule "asterius"]
	path = asterius
	url = https://github.com/tweag/asterius.git
[submodule "pandoc"]
	path = pandoc
	url = https://github.com/jgm/pandoc.git
[submodule "zip-archive"]
	path = zip-archive
	url = https://github.com/georgestagg/zip-archive.git
